{% extends 'base_template.html' %}

{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}
<title>{% translate 'Delete status' %}</title>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-4" align="center">
        <h1 class="my-4">{% translate 'Delete status' %}</h1>
        <form method="post">
            {% csrf_token %}
            <p>{% trans 'Are you sure you want to delete' %} {{ status.name }}?</p>
            <button type="submit" class="btn btn-danger">{% translate 'Yes, delete' %}</button>
            <a href="{% url 'users_list' %}" class="btn btn-outline-dark px-4 mx-3" role="button">{% translate 'No' %}</a>
        </form>
    </div>
</div>
{% endblock %}