{% extends 'base_template.html' %}

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load i18n %}

{% block title %}
<title>{% translate 'Statuses' %}</title>
{% endblock %}

{% block content %}
<h1 class="my-4">{% translate 'Statuses' %}</h1>
<a href="{% url 'status_create' %}" class="btn btn-outline-dark mb-4" role="button">{% translate 'Create status' %}</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th class="col-1" >ID</th>
            <th class="col-4">{% translate 'Name' %}</th>
            <th class="col-2">{% translate 'Date of creation' %}</th>
            <th class="col-3"></th>
        </tr>
    </thead>
    <tbody>
        {% if statuses %}
            {% for status in statuses %}
            <tr>
                <td class="align-middle">{{ status.pk }}</td>
                <td class="align-middle">{{ status.name }}</td>
                <td class="align-middle">{{ status.created_at|date:"d.m.Y H:i" }}</td>
                <td align="right">
                    <a href="{% url 'status_update' status.pk %}" class="btn btn-outline-dark btn-sm" role="button">{% translate 'Update' %}</a>
                    <a href="{% url 'status_delete' status.pk %}" class="btn btn-outline-danger btn-sm mx-2" role="button">{% translate 'Delete' %}</a>
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4" align="center">{% translate 'There is no any statuses' %}</td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}