{% extends 'base_template.html' %}

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load i18n %}

{% block title %}
<title>{% translate 'Labels' %}</title>
{% endblock %}

{% block content %}
<h1 class="my-4">{% translate 'Labels' %}</h1>
<a href="{% url 'label_create' %}" class="btn btn-outline-dark mb-4" role="button">{% translate 'Create label' %}</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th class="col-1" >ID</th>
            <th class="col-4">{% translate 'Name' %}</th>
            <th class="col-2">{% translate 'Date of creation' %}</th>
            <th class="col-3"></th>
        </tr>
    </thead>
    <tbody>
        {% if labels %}
            {% for label in labels %}
            <tr>
                <td class="align-middle">{{ label.pk }}</td>
                <td class="align-middle">{{ label.name }}</td>
                <td class="align-middle">{{ label.created_at|date:"d.m.Y H:i" }}</td>
                <td align="right">
                    <a href="{% url 'label_update' label.pk %}" class="btn btn-outline-dark btn-sm" role="button">{% translate 'Update' %}</a>
                    <a href="{% url 'label_delete' label.pk %}" class="btn btn-outline-danger btn-sm mx-2" role="button">{% translate 'Delete' %}</a>
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4" align="center">{% translate 'There is no any labels' %}</td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}