{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Fourth project for Hexlet.io">
    <title>Менеджер задач</title>
</head>

<body class="min-vh-100 d-flex flex-column">

{% include 'navbar.html' %}

<main class="container wrapper flex-grow-1">
    {% bootstrap_messages %}
    {% block content %}
    {% endblock %}
</main>


<footer class="border-top py-3 mt-5 flex-shrink-0">
    <div class="container-lg">
        <div class="text-center">
            <a href="https://github.com/Mr-Freewan" target="_blank">Freewan</a>
        </div>
    </div>
</footer>

</body>
</html>