{% extends 'base_template.html' %}

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load i18n %}

{% block title %}
<title>{% translate 'Task manager' %}</title>
{% endblock %}

{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">{% translate 'Task manager' %}</h1>
          <br>
        <p class="lead text-body-secondary">{% translate 'Simple and flexible open source task management web application' %}</p>
      </div>
    </div>
  </section>
{% endblock %}