{% extends 'base_template.html' %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}
<title>{% translate 'Login' %}</title>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-7">
    <h1 class="my-4" >{% translate 'Login' %}</h1>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
    <button class="btn btn-dark" type="submit">{% translate 'Log in' %}</button>
    </form>
        </div>
    </div>
{% endblock %}