{% load i18n %}

<header class="p-1 text-bg-dark">
        {% url 'start_page' as start_page %}
        {% url 'users_list' as users_list %}
        {% url 'statuses_list' as statuses_list %}
        {% url 'labels_list' as labels_list %}
        {% url 'tasks_list' as tasks_list %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample07XL">
          <a href="{{ start_page }}" class="navbar-brand col-lg-3 me-0 text-white">{% translate 'Task manager' %}</a>
          <ul class="navbar-nav col-lg-6 justify-content-lg-center">
            <li class="nav-item">
              <a class="nav-link{% if users_list in request.path %} active{% endif %}" href="{{ users_list }}">{% translate 'Users' %}</a>
            </li>
              {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link{% if statuses_list in request.path %} active{% endif %}" href="{{ statuses_list }}">{% translate 'Statuses' %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link{% if labels_list in request.path %} active{% endif %}" href="{{ labels_list }}">{% translate 'Labels' %}</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link{% if tasks_list in request.path %} active{% endif %}" href="{{ tasks_list }}">{% translate 'Tasks' %}</a>
            </li>
          </ul>
          <div class="d-lg-flex col-lg-3 justify-content-lg-end">
            <a href="{% url 'logout' %}" class="btn btn-outline-light me-2" role="button">{% translate 'Logout' %}</a>
          </div>
            {% else %}
          </ul>
            <div class="d-lg-flex col-lg-3 justify-content-lg-end">
            <a href="{% url 'login' %}" class="btn btn-outline-light me-2" role="button">{% translate 'Login' %}</a>
            <a href="{% url 'user_create' %}" class="btn btn-warning mx-2" role="button">{% translate 'Sign up' %}</a>
          </div>
            {% endif %}
        </div>
      </div>
    </nav>
</header>